{% extends "base_template.j2" %}

<title>{% block title %} Classes {% endblock title %}</title>

{% block show_forms %}

    <div class="container">
        <h2>Add Class</h2>
        <form action="/classes" method="post" class="form-row align-items-center">
            {{ new_class.csrf_token }}
            <div class="form-group col-auto">
                {{ new_class.subject_name.label(class="form-label") }}
                {{ new_class.subject_name(class="form-control") }}
            </div>
            <div class="form-group col-auto">
                {{ new_class.professor_name.label(class="form-label") }}
                {{ new_class.professor_name(class="form-control") }}
            </div>
            <div class="form-group col-auto">
                {{ new_class.class_level.label(class="form-label") }}
                {{ new_class.class_level(class="form-control") }}
            </div>
            <div class="form-group col-auto pt-4">
                {{ new_class.submit(class="btn btn-primary") }}
            </div>
        </div>
    </div>


{% endblock show_forms %}