{% extends "base_template.j2" %}

<title>{% block title %} Classes {% endblock title %}</title>

{% block show_forms %}

    <div class="container">
        <h2>Add Class</h2>
        <div class="form-row align-items-center">
            <div class="form-group col-auto">
                {{ new_class.subject_id.label(class="form-label") }}
                {{ new_class.subject_id(class="form-control") }}
            </div>
            <div class="form-group col-auto">
                {{ new_class.professor_id.label(class="form-label") }}
                {{ new_class.professor_id(class="form-control") }}
            </div>
            <div class="form-group col-auto">
                {{ new_class.class_level.label(class="form-label") }}
                {{ new_class.class_level(class="form-control") }}
            </div>
            <div class="form-group col-auto pt-4">
                {{ new_class.submit(class="btn btn-primary") }}
            </div>
        </div>
    </div>

    <div class="container">
        <h2>Update Class</h2>
        <div class="form-row align-items-center">
            <div class="form-group col-auto">
                {{ update_form.class_id.label(class="form-label") }}
                {{ update_form.class_id(class="form-control") }}
            </div>
            <div class="form-group col-auto">
                {{ update_form.subject_id.label(class="form-label") }}
                {{ update_form.subject_id(class="form-control") }}
            </div>
            <div class="form-group col-auto">
                {{ update_form.professor_id.label(class="form-label") }}
                {{ update_form.professor_id(class="form-control") }}
            </div>
            <div class="form-group col-auto">
                {{ update_form.class_level.label(class="form-label") }}
                {{ update_form.class_level(class="form-control") }}
            </div>
            <div class="form-group col-auto pt-4">
                {{ update_form.submit(class="btn btn-primary") }}
            </div>
        </div>
    </div>

    <div class="container">
        <h2>Delete Class</h2>
        <p>Are you sure you wish to delete the following?</p>
        <div class="form-row align-items-center">
            <div class="form-group col-auto">
                {{ delete_form.class_id.label(class="form-label") }}
                {{ delete_form.class_id(class="form-control") }}
            </div>
            <div class="form-group col-auto">
                {{ delete_form.subject_id.label(class="form-label") }}
                {{ delete_form.subject_id(class="form-control") }}
            </div>
            <div class="form-group col-auto">
                {{ delete_form.professor_id.label(class="form-label") }}
                {{ delete_form.professor_id(class="form-control") }}
            </div>
            <div class="form-group col-auto">
                {{ delete_form.class_level.label(class="form-label") }}
                {{ delete_form.class_level(class="form-control") }}
            </div>
            <div class="form-group col-auto pt-4">
                {{ delete_form.submit(class="btn btn-primary") }}
            </div>
        </div>
    </div>

{% endblock show_forms %}