{% extends "base_template.j2" %}

<title>{% block title %} Houses {% endblock title %}</title>

{% block show_forms %}

    <div class="container">
        <h2>Add House</h2>
        <form action="/houses" method="post" class="form-row align-items-center">
            {{ new_house.csrf_token }}
            <div class="form-group col-auto">
                {{ new_house.head_of_house.label(class="form-label") }}
                {{ new_house.head_of_house(class="form-control") }}
            </div>
            <div class="form-group col-auto">
                {{ new_house.house_name.label(class="form-label") }}
                {{ new_house.house_name(class="form-control") }}
            </div>
            <div class="form-group col-auto">
                {{ new_house.house_animal.label(class="form-label") }}
                {{ new_house.house_animal(class="form-control") }}
            </div>
            <div class="form-group col-auto">
                {{ new_house.house_colors.label(class="form-label") }}
                {{ new_house.house_colors(class="form-control") }}
            </div>
            <div class="form-group col-auto pt-4">
                {{ new_house.submit(class="btn btn-primary") }}
            </div>
        </div>
    </div>

{% endblock show_forms %}
