{% extends "base_template.j2" %}

<title>{% block title %} Professors {% endblock title %}</title>

{% block show_forms %}

    <div class="container">
        <h2>Add Professor</h2>
        <div class="form-row align-items-center">
            <div class="form-group col-auto">
                {{ new_prof.first_name.label(class="form-label") }}
                {{ new_prof.first_name(class="form-control") }}
            </div>
            <div class="form-group col-auto">
                {{ new_prof.last_name.label(class="form-label") }}
                {{ new_prof.last_name(class="form-control") }}
            </div>
            <div class="form-group col-auto pt-4">
                {{ new_prof.submit(class="btn btn-primary") }}
            </div>
        </div>
    </div>

    <div class="container">
        <h2>Update Professor</h2>
        <div class="form-row align-items-center">
            <div class="form-group col-auto">
                {{ update_form.professor_id.label(class="form-label") }}
                {{ update_form.professor_id(class="form-control") }}
            </div>
            <div class="form-group col-auto">
                {{ update_form.first_name.label(class="form-label") }}
                {{ update_form.first_name(class="form-control") }}
            </div>
            <div class="form-group col-auto">
                {{ update_form.last_name.label(class="form-label") }}
                {{ update_form.last_name(class="form-control") }}
            </div>
            <div class="form-group col-auto pt-4">
                {{ update_form.submit(class="btn btn-primary") }}
            </div>
        </div>
    </div>

    <div class="container">
        <h2>Delete Professor</h2>
        <p>Are you sure you wish to delete the following?</p>
        <div class="form-row align-items-center">
            <div class="form-group col-auto">
                {{ delete_form.professor_id.label(class="form-label") }}
                {{ delete_form.professor_id(class="form-control") }}
            </div>
            <div class="form-group col-auto">
                {{ delete_form.first_name.label(class="form-label") }}
                {{ delete_form.first_name(class="form-control") }}
            </div>
            <div class="form-group col-auto">
                {{ delete_form.last_name.label(class="form-label") }}
                {{ delete_form.last_name(class="form-control") }}
            </div>
            <div class="form-group col-auto pt-4">
                {{ delete_form.submit(class="btn btn-primary") }}
            </div>
        </div>
    </div>

{% endblock show_forms %}