{% extends "base_template.j2" %}

<title>{% block title %} Class Registrations {% endblock title %}</title>

{% block show_table %}
<div class="container">
    <p>
        <table>
            <thead>
                <tr>
                {% for key in records[0].keys() %}
                    <th>{{ key }}</th>
                {% endfor %}
                </tr>
            </thead>
            <tbody>
            {% for record in records %}
                <tr>
                {% for key in records[0].keys() %}
                    <td>{{ record[key] }}</td>
                {% endfor %}
                    <td><a href="edit_{{ title }}/{{ record["student_id"] }}&{{ record["class_id"] }}">{{ "Edit" }}</a></td>
                    <td><a href="delete_{{ title }}/{{ record["student_id"] }}&{{ record["class_id"] }}">{{ "Delete" }}</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </p>
    <p>&nbsp;</p>
</div>  <!-- browse -->
{% endblock show_table %}

{% block show_forms %}

    <div class="container">
        <h2>Add Registration</h2>
        <form action="/registrations" method="post" class="form-row align-items-center">
            {{ new_reg.csrf_token }}
            <div class="form-group col-auto">
                {{ new_reg.student_name.label(class="form-label") }}
                {{ new_reg.student_name(class="form-control") }}
            </div>
            <div class="form-group col-auto">
                {{ new_reg.class_detail.label(class="form-label") }}
                {{ new_reg.class_detail(class="form-control") }}
            </div>
            <div class="form-group col-auto pt-4">
                {{ new_reg.submit(class="btn btn-primary") }}
            </div>
        </div>
    </div>

{% endblock show_forms %}

{% block show_table2 %}



{% endblock show_table2 %}