{% extends "base_template.j2" %}

<title>{% block title %} Students {% endblock title %}</title>

{% block show_forms %}

    <div class="container">
        <h2>Add Student</h2>
        <form action="/students" method="post" class="form-row align-items-center">
            {{ enroll_form.csrf_token }}
            <div class="form-group col-auto">
                {{ enroll_form.first_name.label(class="form-label") }}
                {{ enroll_form.first_name(class="form-control") }}
            </div>
            <div class="form-group col-auto">
                {{ enroll_form.last_name.label(class="form-label") }}
                {{ enroll_form.last_name(class="form-control") }}
            </div>
            <div class="form-group col-auto">
                {{ enroll_form.house_id.label(class="form-label") }}
                {{ enroll_form.house_id(class="form-control") }}
            </div>
            <div class="form-group col-auto">
                {{ enroll_form.level_attending.label(class="form-label") }}
                {{ enroll_form.level_attending(class="form-control") }}
            </div>
            <div class="form-group col-auto pt-4">
                {{ enroll_form.submit(class="btn btn-primary") }}
            </div>
        </form>
    </div>

    <div class="container">
        <h2>Find Student</h2>
        <div class="form-row align-items-center">
            <div class="form-group col-auto">
                {{ find_form.first_name.label(class="form-label") }}
                {{ find_form.first_name(class="form-control") }}
            </div>
            <div class="form-group col-auto">
                {{ find_form.last_name.label(class="form-label") }}
                {{ find_form.last_name(class="form-control") }}
            </div>
            <div class="form-group col-auto pt-4">
                {{ find_form.submit(class="btn btn-primary") }}
            </div>
        </div>
    </div>

    <div class="container">
        <h2>Update Student</h2>
        <div class="form-row align-items-center">
            <div class="form-group col-auto">
                {{ update_form.student_id.label(class="form-label") }}
                {{ update_form.student_id(class="form-control") }}
            </div>
            <div class="form-group col-auto">
                {{ update_form.first_name.label(class="form-label") }}
                {{ update_form.first_name(class="form-control") }}
            </div>
            <div class="form-group col-auto">
                {{ update_form.last_name.label(class="form-label") }}
                {{ update_form.last_name(class="form-control") }}
            </div>
            <div class="form-group col-auto">
                {{ update_form.house_id.label(class="form-label") }}
                {{ update_form.house_id(class="form-control") }}
            </div>
            <div class="form-group col-auto">
                {{ update_form.level_attending.label(class="form-label") }}
                {{ update_form.level_attending(class="form-control") }}
            </div>
            <div class="form-group col-auto pt-4">
                {{ update_form.submit(class="btn btn-primary") }}
            </div>
        </div>
    </div>

{% endblock show_forms %}