<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subjects</title>
</head>
<body>
    <header>
        {% include "_nav.j2" %}
    </header>
    <h1>Subjects</h1>
</body>
</html>